* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
}


h3 {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 35px;
    color: white;
    margin-left: 60px;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    width: 230px;
    align-items: center;
    margin-right: 60px;
}

a {
    text-decoration: none;
    font-family: Sans MS, Comic Sans, cursive;
    color: white;
    font-size: 25px;
}

.body-info {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
}

.hi-welcome {
    display: flex;
    margin-left: 50px;
}

.hi {
    font-family: Calina Regular; 
    font-weight: 200;
    font-size: 150px;
    align-self: center;
}

.wel {
    width: 400px;
    height: 400px;
}

.name-info {
    font-size: large;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

p {
    margin-left: 50px;
}

.name-paragraph {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 25px;
}

.name-all {
    padding-right: 300px;
}

.pic {
    height: 350px;
    width: 475px;
    margin-left: 100px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.all-body-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 1300px) {

    .nav-buttons {
        margin-right: 20px;
    }

    .hi {
        font-size: 75px;
    }

    .wel {
        height: 200%;
        width: 275px;
    }

    .hi-welcome {
        margin-left: 5px;
        height: 100px;
    }

    .all-body-info {
        display: grid;
        grid-template-columns: 1fr;
    }

    .pic {
        margin-top: 70px;
        margin-left: 0;
        height: 250px;
        width: 350px;
        bottom: 50px;
    }

    .name-all {
        padding-right: 0;
        margin-top: 20px;
        margin-right: 0;
    }

    p {
        margin-left: 0;
    }

    h2 {
        margin-top: 100px;
    }
}